@import "./../../scss/common.scss";

.element {
  margin-right: 16px;
  height: 64px;
}

.option {
  margin-right: 8px;
  margin-left: 8px;
}

.equal-width {
  width: 135px;
}

.label {
  color: #464775;
  font-weight: bold;
}

.row {
  padding-bottom: 16px;
}