@import "./../../scss/common.scss";

.element {
  margin-right: 16px;
  height: 48px;
}

.option {
  margin-right: 8px;
  margin-left: 8px;
}

.equal-width {
  width: 200px;
}

.label {
  color: $brand-color;
  font-weight: bold;
  padding-bottom: 16px;
  padding-top: 16px;
}

.row-scale {
}

.row-option {
  padding-top: 16px;
}

.first-scale-label {
  align-self: center;
}

.second-scale-label {
  align-self: center;
}

.option-label {
  align-self: center;
}

.card {
  margin: 8px;
}