@import "./../../scss/common.scss";

.choice-item {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    padding-bottom: 4px;
}

.choice-container {
    padding-top: 16px;
}

.add-options {
    margin-top: 8px;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.plus-icon {
    @include resolve-dir(margin-right, 8px);
}

.item-content {
    font-size: 14px;
    .client-mobile & {
        font-size: 16px;
    }
}

.choice-trash-can {
    cursor: pointer !important;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    float: left;
}
.element {
    display: inline-block;
    height: 100px;
    text-align: center;
    margin-left: 5px;
}

.equalWidth {
    width: 70px;
}

.pickTheScale {
    color: #464775;
    font-weight: bold;
}

.first{
    width:100%;
    height:100px;
    position:absolute;
    box-sizing: border-box;
}
.second{
    position: relative;
    width:100%;
    height:100px;
    top: 100px;
    box-sizing: border-box;
}
.third{
    position: relative;
    width:100%;
    height:100px;
    top: 100px;
    box-sizing: border-box;
}
