@import "./../../scss/common.scss";

.card {
  height: 48px;
}

.selected-button {
  align-self: flex-end;
  height: fit-content !important;
  width: fit-content !important;    
  filter: hue-rotate(90deg);
}

.button {
  height: fit-content !important;
  width: fit-content !important;
}

.button-card {
  height: 56px;
}