@import "./../../scss/common.scss";
@import "./../../scss/variables.scss";

.participant-text {
  justify-content: left;

.element {
  margin-right: 0px;
  height: 48px;
}

.headerText {
  color: $brand-color;
  font-weight: 800;
}

.participants /deep/ ui-table__cell {
  width: 150px !important;
}

.votesTable {
  margin-top: 10px !important;
  background-color: #f0f0f0 !important;

  .theme-dark & {
    background-color: #292929;
  }

  .ui-table__row:first-child:hover {
    background-color: #f0f0f0;

    .theme-dark & {
      background-color: #292929;
    }  
  }
  .ui-table__row {
    height: 52px;
    background-color: #f0f0f0;

    .theme-dark & {
      background-color: $black-color;
    }
  }
  .ui-table__row:first-child {
    background-color: #ffff;
    border-bottom: 2px solid #a2a3ba;

    .theme-dark & {
      background-color: #292929;
      border-bottom: 1px solid #F3F2F1;

    }
  }
  .ui-table__cell {
    max-width: 50px;
    justify-content: center;
  }
  .ui-table__cell:first-child {
    max-width: 200px;
    justify-content: left;
  }
  .ui-table__row:last-child {
    background-color: #ffff;
    border-top: 2px solid #a2a3ba;

    .theme-dark & {
      background-color: #292929;
      border-top: 1px solid #F3F2F1;

    }
  }
  .ui-table__cell__content {
    display: flex;
    align-items: center;
  }
}

    width: 150px !important;
}