@import "./../../scss/common.scss";

.element {
  margin-right: 0px;
  height: 48px;
}

.participant-text {
  justify-content: left;
}

.headerText {
  color: $brand-color;
  font-weight: 800;
}

.participants /deep/ ui-table__cell {
  width: 150px !important;
}

.votesTable {
  margin-top: 10px !important;
  background-color: #f0f0f0 !important;

  .ui-table__row:first-child:hover {
    background-color: #f0f0f0;
  }
  .ui-table__row {
    height: 52px;
    background-color: #f0f0f0;
  }
  .ui-table__row:first-child {
    background-color: #ffff;
    border-bottom: 2px solid #a2a3ba;
  }
  .ui-table__cell {
    max-width: 50px;
    justify-content: center;
  }
  .ui-table__cell:first-child {
    max-width: 200px;
    justify-content: left;
  }
  .ui-table__row:last-child {
    background-color: #ffff;
    border-top: 2px solid #a2a3ba;
  }
  .ui-table__cell__content {
    display: flex;
    align-items: center;
  }
}
